body {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  max-height: 100vh;
  overflow: hidden;
  background: linear-gradient(135deg, #201031, #650495);
  font-family: sans-serif;
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 18px;
  min-height: 400px;
  max-height: fit-content;
  margin-top: 50px;
  padding: 30px;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(15px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 10px;
}

.container .the-commands input {
  outline: none;
  border: none;
  padding: 15px;
  padding-right: 0;
  width: auto;
  color: white;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(15px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 15px;
  transition: all 0.2s ease-in-out;
}
.container .the-commands input::placeholder {
  color: white;
}
.container .the-commands input:focus {
  transform: scale(1.1);
}

.btn {
  cursor: pointer;
  padding: 7px;
  margin-top: 3px;
  border-radius: 10px;
  margin-left: 10px;
  color: white;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(15px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  transition: all 0.2s ease-in-out;
}
.btn:hover {
  transform: scale(1.1);
}

.the-commands {
  display: flex;
  width: auto;
  justify-content: space-evenly;
}

.missions {
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(15px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  height: 100%;
  overflow-y: auto;
  padding: 10px;
  scroll-behavior: smooth;
}
.missions::-webkit-scrollbar {
  width: 10px;
}

.missions::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.4);
  border-radius: 0;
}

.missions::-webkit-scrollbar-track {
  background: transparent;
}

.mission {
  display: flex;
  justify-content: space-between;
  align-items: center;
  animation: out 0.5s ease-out;
  transition: all 0.3s ease-in-out;
}
.btns {
  margin-left: 15px;
}

.delete,
.done {
  cursor: pointer;
}
.done {
  text-decoration: line-through;
  text-decoration-color: green;
  text-decoration-thickness: 3px;
}

#error-message {
  padding: 20px;
  width: fit-content;
  height: fit-content;
  position: fixed;
  bottom: 20px;
  right: 40px;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(15px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-right: 3px solid red;
  z-index: 1000;
  opacity: 0;
  transform: translateX(100px);
  pointer-events: none;
}
#error-message::after {
  content: "";
  height: 5px;
  background: red;
  position: absolute;
  bottom: 0px;
  right: 0px;
  z-index: 1000;
}
#error-message.show {
  opacity: 1;
  transform: translateX(0);
  pointer-events: auto;
  transition: all 0.4s ease;
}
#error-message.show::after {
  animation: timer 3s linear;
}

#error-message.hide {
  opacity: 0;
  transform: translateX(100px);
  transition: all 0.4s ease;
}
.delete {
  transition: all 0.3s ease-in-out;
  transform: translateX(-100px);
  opacity: 0;
}
.check-boxes {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  align-items: center;
}
.check-boxes input {
  cursor: pointer;
}
@keyframes timer {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}

@keyframes hide {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(100);
  }
}
@keyframes in {
  from {
    opacity: 0;
    transform: translateX(100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes out {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Responsive */
/* Mobile */
@media (max-width: 767px) {
  .container {
    width: 400px;
    height: 550px;
  }
}
/* Laptops */
@media (min-width: 768px), (max-width: 1439) {
  .container {
    width: 550px;
    height: 650px;
  }
  input {
    padding-right: 40px !important;
  }
}
@media (min-width: 1440px) {
  .container {
    width: 550px;
    min-height: 650px;
  }
  input {
    padding-right: 40px !important;
    padding-left: 40px !important;
  }
  .container ~ .btn {
    padding: 30px;
  }
}
